body div {
  margin: 0;
  padding: 0;
}
article {
  width: 100%;
}
.header {
  text-align: center;
}
.new-tag {
  float: right;
  background-color: grey;
  margin-top: 10px;
  margin-right: 0;
  padding: 5px;
  margin-top: 20px;
}
.bordered {
  box-sizing: border-box;
  border: 5px solid black;
  margin: 0;
}
.bordered-below {
  border-top: 0;
}
.bordered-right {
  border-left: 0;
}
.block {
  width: 50%;
  display: block;
  float: left;
}
p, h2 {
  margin: 20px
}